<div class="container-fluid">
  <h3>Actors</h3>
  <table class="table table-striped">
    <tr>
      <th>Name</th>
      <th>Birth Year</th>
      <th>Select an Actor!</th>
    </tr>
    <tr *ngFor="let item of actorsDB">
      <td>{{item.name}}</td>
      <td>{{item.bYear}}</td>
      <td><button type="submit" class="btn btn-primary" (click)="setActorForMovie(item)">Select</button></td>
    </tr>
  </table>
  <hr>
  <div *ngIf="moviesDB.length>0">
    <h3>Movies</h3>
    <table class="table table-striped">
      <tr>
        <th>Title</th>
        <th>Year</th>
        <th>Select a Movie!</th>
      </tr>
      <tr *ngFor="let item of moviesDB">
        <td>{{item.title}}</td>
        <td>{{item.year}}</td>
        <td><button type="submit" class="btn btn-primary" (click)="setMovieForAdd(item)">Select</button></td>
      </tr>
    </table>
    <button type="submit" class="btn btn-success" (click)="addMovieToActor()">Add Movie To Actor</button>
    <br>
  </div>
</div>